Request to /oauth/token endpoint should use application/x-www-form-urlencoded encoding

## Expected behavior

Request from elk server to `/oauth/token` should be encoded with `application/x-www-form-urlencoded`.

[RFC 6749 §3.2](https://datatracker.ietf.org/doc/html/rfc6749#section-3.2) states:

> The endpoint URI MAY include an "application/x-www-form-urlencoded" formatted (per [Appendix B](https://datatracker.ietf.org/doc/html/rfc6749#appendix-B)) query component ([[RFC3986] Section 3.4](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4)), which MUST be retained when adding additional query parameters.  The endpoint URI MUST NOT include a fragment component.

Conforming to this, some oauth2 server implementation rejects request which is not form-encoded. For example, Doorkeeper with [`enforce_content_type` option enabled](https://github.com/doorkeeper-gem/doorkeeper/blob/b3d6787341561e5bc51336e3e04622ca131d6445/lib/doorkeeper/helpers/controller.rb#L78) or [node-oauth2-server](https://github.com/node-oauth/node-oauth2-server/blob/44945641e488ed527a1fde2ba543a06dc2ed39ab/lib/handlers/token-handler.js#L84). 

[Mastodon API](https://docs.joinmastodon.org/methods/oauth/#token) also states that request to this endpoint should have "Form data parameters."

## Actual behavior

I observed request to `/oauth/token` of my server is JSON-encoded.

At a quick glance at source files, this line can be read as the request to this endpoint is using default encoding of [ofetch](https://github.com/unjs/ofetch#%EF%B8%8F-json-body), which is JSON.

https://github.com/elk-zone/elk/blob/af444391b5aadf984805aec381ea67ebf25c81ef/server/api/%5Bserver%5D/oauth/%5Borigin%5D.ts#L25-L36

Usually this will not be a problem because the default Mastodon implementation accepts JSON-encoded body. However, applications compatible with Mastodon API (e.g. [wildebeest](https://github.com/cloudflare/wildebeest)) may have problem with logging users into Elk application.